footer {}

//====================================================================================================

.footer__row {
    @include flexbox();
    justify-content: space-between;
    @media (max-width:$md2+px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
	}
}

.footer-column {
    @media (max-width:$md2+px) {
		&:first-child{
            order: 2;
        }
        &:last-child{
            order: 1;
        }
	}
}

.footer__text {
    margin: 30px 0 0 0;
    text-align: center;
    color: #4d4d4d;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: underline;
    @media (max-width:$md2+px) {
        font-size: 12px;
        margin: 10px 0 0 0;
	}
}

.footer__logo {
    display: block;
    padding: 20px;
    @media (max-width:$md2+px) {
        margin: 10px 0 0 0;
	}
}

//====================================================================================================